.padding-top-0 {
  @include verne-fluid-padding-top(0px, 0px);
}
.padding-top-20 {
  @include verne-fluid-padding-top(10px, 20px);
}
.padding-top-40 {
  @include verne-fluid-padding-top(20px, 40px);
}
.padding-top-60 {
  @include verne-fluid-padding-top(40px, 60px);
}
.padding-top-80 {
  @include verne-fluid-padding-top(60px, 80px);
}
.padding-top-100 {
  @include verne-fluid-padding-top(80px, 100px);
}
.padding-top-120 {
  @include verne-fluid-padding-top(100px, 120px);
}
.padding-top-140 {
  @include verne-fluid-padding-top(120px, 140px);
}
.padding-top-160 {
  @include verne-fluid-padding-top(140px, 160px);
}
.padding-top-180 {
  @include verne-fluid-padding-top(160px, 180px);
}
.padding-top-200 {
  @include verne-fluid-padding-top(180px, 200px);
}

.padding-bottom-0 {
  @include verne-fluid-padding-bottom(0px, 0px);
}
.padding-bottom-20 {
  @include verne-fluid-padding-bottom(10px, 20px);
}
.padding-bottom-40 {
  @include verne-fluid-padding-bottom(20px, 40px);
}
.padding-bottom-60 {
  @include verne-fluid-padding-bottom(40px, 60px);
}
.padding-bottom-80 {
  @include verne-fluid-padding-bottom(60px, 80px);
}
.padding-bottom-100 {
  @include verne-fluid-padding-bottom(80px, 100px);
}
.padding-bottom-120 {
  @include verne-fluid-padding-bottom(100px, 120px);
}
.padding-bottom-140 {
  @include verne-fluid-padding-bottom(120px, 140px);
}
.padding-bottom-160 {
  @include verne-fluid-padding-bottom(140px, 160px);
}
.padding-bottom-180 {
  @include verne-fluid-padding-bottom(160px, 180px);
}
.padding-bottom-200 {
  @include verne-fluid-padding-bottom(180px, 200px);
}

.padding-right-0 {
  padding-right: 0px;
}
.padding-right-20 {
  padding-right: 20px;
}
.padding-right-40 {
  padding-right: 40px;
}
.padding-right-60 {
  padding-right: 60px;
}
.padding-right-80 {
  padding-right: 80px;
}
.padding-right-100 {
  padding-right: 100px;
}
.padding-right-120 {
  padding-right: 120px;
}
.padding-right-140 {
  padding-right: 140px;
}
.padding-right-160 {
  padding-right: 160px;
}
.padding-right-180 {
  padding-right: 180px;
}

.padding-left-0 {
  padding-left: 0px;
}
.padding-left-20 {
  padding-left: 20px;
}
.padding-left-40 {
  padding-left: 40px;
}
.padding-left-60 {
  padding-left: 60px;
}
.padding-left-80 {
  padding-left: 80px;
}
.padding-left-100 {
  padding-left: 100px;
}
.padding-left-120 {
  padding-left: 120px;
}
.padding-left-140 {
  padding-left: 140px;
}
.padding-left-160 {
  padding-left: 160px;
}
.padding-left-180 {
  padding-left: 180px;
}
