// Define global colors

$black: #000000; //background and copy
$white: #ffffff; //background and copy

$red: #CC0000;
$lightred: #EB0000;
$darkred: #A50000;

$darkgray: #505050;
$mediumdarkgray: #666666;
$lightgray: #E9E9E9;
